:root {
    --light-gray: #f8f2e8;
    --main-purple: #403D58;
    --light-purple: #656085;
    --bright-orange: #FC7753;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.7em;
    font-size: 1.2em;
}

header{
    background: var(--light-purple);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 3rem;
    color: var(--bright-orange);
}

main{
    width: 60%;
    max-width: 760px;
    margin: auto;
}

h2{
    padding-top: 1rem;
}


footer{
    margin-top: 3%;
    width: 100%;
    background-color: var(--light-purple);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

footer a{
    padding: 0 3rem;
    color: var(--bright-orange);
    text-decoration: none;
}

